#Dependências do Node.js
server/node_modules

#Sistema operacional e IDE
.vscode/

# Configurações locais e ambientes
.env
biome.json

#Migrations (Gerar automáticamente)
server/.migrations

# Configurações do Drizzle ORM
drizzle-config.ts