#Dependências do Node.js
server/node_modules

#Sistema operacional e IDE
.vscode/

# Configurações locais e ambientes
server/.env
server/biome.json
server/docker-compose.yml

#Migrations (Gerar automáticamente)
server/.migrations

# Configurações do Drizzle ORM
server/drizzle.config.ts